<div id="img-1">
    <div class="container d-flex justify-content-center pt-3" >
        <div class="row">
          <!-- DIRECTORYADS LOGO -->  
          <div class="col-2">
                <h4 id="h2">DIRECTORYADS</h4>
          </div>  
          <div class="col-10">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light transparent-navbar p-0">
              <a class="navbar-brand" href="#" ></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""><i class="fas fa fa-bars"></i></span>
              </button>  
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul  class="navbar-nav" id="ul">
                  <li class="nav-item">
                    <a class="nav-link" href="#h2">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#trending-span">Ads</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                      <a class="dropdown-item" href="#">About 1</a>
                      <a class="dropdown-item" href="#">About 2</a>
                      <a class="dropdown-item" href="#">About 3</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
                  <li class="nav-item " style="padding-left: 3.5rem;">
                    <span class="nav-link">|</span>
                  </li>
                  <li class="nav-item" style="padding-left: 0.3rem;">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                  <li class="nav-item" style="padding-left: 2rem;">
                    <a id="register" type="button" class="nav-link btn btn-primary btn-sm" href="#">Register</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      
<!-- heading -->
      <div id="heading-div">
        <h1 id="h1" >Welcome to DirectoryAds</h1>
        <p id="sub-head">Here we make high quality advertisemts at your perfrence</p>
    </div>
<!-- search-bar     -->
<div class="container">
    <div class="card" style="background-color: rgba(255, 255, 255, 0.5);">
      <div class="card-body">
        <form>
          <div class="form-row align-items-center flex-column flex-md-row">
            <div class="col">
              <input type="text" class="form-control mb-2 mb-md-0" placeholder="What are you looking for?">
            </div>
            <div class="col">
              <div class="input-group mb-2 mb-md-0">
                <input type="text" class="form-control" placeholder="Location">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                </div>
              </div>
            </div>
            <div class="col">
              <select class="form-control mb-2 mb-md-0" placeholder="All Categories">
                <option>All Categories</option>
                <option>Cars and vehicles</option>
                <option>Furniture</option>
                <option>Real Estate</option>
                <option>Books and magazines</option>
                <option>Electronics</option>
                <option>Other</option>
              </select>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  

<!-- trending -->
<div class="container d-flex justify-content-start pt-3 " >
    <span id="trending-span">
      <h5 id="trending-text">Trending Search:</h5>
      <span style="display: inline; padding-left: 1rem;">
        <button class="btn btn-outline-light mr-2 btn-sm">iPhone</button>
        <button class="btn btn-outline-light mr-2 btn-sm">Cars</button>
        <button class="btn btn-outline-light mr-2 btn-sm">Flowers</button>
        <button class="btn btn-outline-light btn-sm" id="trending-btn">House</button>
      </span>
    </span>
  </div>
</div>

<!-- cards -->
<div class="container-fluid pt-5 pb-4 mb-5 bg-light" >
    <div class="container pb-2">
        <h4 style="font-weight: 400;">Featured Ads</h4>
        <div class="row pt-3 row pt-3 ">
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow">
              <img src="https://photos5.appleinsider.com/gallery/41117-79579-210401-iPhone12ProMax-xl.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <button class="btn  rounded-pill btn-sm " style="background-color: lightgray;">Electronics</button>
                <a id="heart" href="">
                    <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                </a>
                <h5 class="card-title pt-3" id="card-trending">iPhone X Gray</h5>
                <p class="card-text">Don St. Brooklyn, New York</p>
                <div class="rating">
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star"></i>&nbsp;
                  <p class="card-text" style="display: inline;" >(3 Reviews)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow">
              <img src="https://static.toiimg.com/thumb/msid-79543116,width-1280,height-720,resizemode-4/.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <button class="btn  rounded-pill btn-sm " style="background-color: lightgray;">Cars & Vehicles</button>
                <a id="heart" href="">
                    <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                </a>
                <h5 class="card-title pt-3" id="card-trending">New Black Car</h5>
                <p class="card-text">Don St. Brooklyn, New York</p>
                <div class="rating">
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star"></i>&nbsp;
                  <p class="card-text" style="display: inline;" >(3 Reviews)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow">
              <img src="https://media.angi.com/s3fs-public/happy-family-house.jpg?impolicy=leadImage" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <button class="btn  rounded-pill btn-sm " style="background-color: lightgray;">Real Estate</button>
                <a id="heart" href="">
                    <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                </a>
                <h5 class="card-title pt-3" id="card-trending">Own New House</h5>
                <p class="card-text">Don St. Brooklyn, New York</p>
                <div class="rating">
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star"></i>&nbsp;
                  <p class="card-text" style="display: inline;" >(3 Reviews)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow">
              <img src="https://m.media-amazon.com/images/I/61tV07vXkIL.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <button class="btn  rounded-pill btn-sm " style="background-color: lightgray;">Furniture</button>
                <a id="heart" href="">
                    <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                </a>
                <h5 class="card-title pt-3" id="card-trending"> Wooden Chair & Table</h5>
                <p class="card-text">Don St. Brooklyn, New York</p>
                <div class="rating">
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star" style="color: gold;"></i>
                  <i class="fas fa-star"></i>&nbsp;
                  <p class="card-text" style="display: inline;" >(3 Reviews)</p>
                </div>
              </div>
            </div>
          </div>
          <!-- arrow btn -->
          <div class="mx-auto pt-3">
            <i class="fa fa-angle-left pr-5" style="font-size:25px"></i><i class="fa fa-angle-right" style="font-size:25px"></i>
          </div>
        </div>
      </div>
</div>


<!-- Popular Categories -->
<div class="container-fluid pt-5 pb-5 ">
    <div class="container">
        <div class="text-center " >
            <h1 class="text-primary pb-1">Popular Categories</h1>
            <h5 style="font-weight: 300;">Browse through our services</h5>
            <hr class="blue-line">
        </div>
        <div class="  mx-auto pt-5 pb-5">
            <div class="row text-center" >
              <div id="Categories" class="col-md-2 col-sm-4 mb-4">
                <i class="fas fa-car fa-3x text-primary"></i>
                <p>Cars and Vehicles</p>
                <button class="btn btn-light rounded-pill " style="background-color: lightgray; ">1,921</button>
              </div>
              <div id="Categories" class="col-md-2 col-sm-4 mb-4">
                <i class="fas fa-couch fa-3x text-primary"></i>
                <p>Furniture</p>
                <button class="btn btn-light rounded-pill " style="background-color: lightgray; ">2,339</button>
              </div>
              <div class="col-md-2 col-sm-4 mb-4">
                <i class="fas fa-home fa-3x text-primary"></i>
                <p>Real Estate</p>
                <button class="btn btn-light rounded-pill " style="background-color: lightgray; ">4,398</button>
              </div>
              <div class="col-md-2 col-sm-4 mb-4">
                <i class="fas fa-book fa-3x text-primary"></i>
                <p>Books and Magazines</p>
                <button class="btn btn-light rounded-pill " style="background-color: lightgray; ">3,298</button>
              </div>
              <div class="col-md-2 col-sm-4 mb-4">
                <i class="fas fa-mobile-alt fa-3x text-primary"></i>
                <p>Electronics</p>
                <button class="btn btn-light rounded-pill " style="background-color: lightgray; ">2,932</button>
              </div>
              <div class="col-md-2 col-sm-4 mb-4">
                <i class="fas fa-pizza-slice fa-3x text-primary"></i>
                <p>Other</p>
                <button class="btn btn-light rounded-pill " style="background-color: lightgray; ">183</button>
              </div>
            </div>
          </div>
    </div>
</div>  


<!-- Trending Today -->


<div class="container-fluid bg-light pt-5 pb-5 ">
    <div class="container">
        <h1 class="text-primary" id="Trending-today"> Trending Today</h1>
        <hr class="blue-line2 "><br><br><br>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card shadow" >
              <div class="row no-gutters" >
                <div class="col-md-5 img-container" >
                  <img src="https://media.angi.com/s3fs-public/happy-family-house.jpg?impolicy=leadImage" class="card-img-left" alt="Image 1">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <button class="btn rounded-pill btn-sm" style="background-color: lightgray;">Real Estate</button>
                    <a id="heart" href="">
                      <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                    </a>
                    <h5  id="card-trending"  class="card-title pt-3">Own New House</h5>
                    <p class="card-text">Don St. Brooklyn, New York</p>
                    <div class="rating">
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star"></i>&nbsp;
                      <p class="card-text" style="display: inline;">(3 Reviews)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card shadow">
              <div class="row no-gutters">
                <div class="col-md-5 img-container">
                  <img src="https://static.toiimg.com/thumb/msid-79543116,width-1280,height-720,resizemode-4/.jpg" class="card-img-left" alt="Image 1" >
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <button class="btn rounded-pill btn-sm" style="background-color: lightgray;">Cars & Vehicles</button>
                    <a id="heart" href="">
                      <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                    </a>
                    <h5 class="card-title pt-3" id="card-trending">New Black Car</h5>
                    <p class="card-text">Don St. Brooklyn, New York</p>
                    <div class="rating">
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star"></i>&nbsp;
                      <p class="card-text" style="display: inline;">(3 Reviews)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card shadow" >
              <div class="row no-gutters" >
                <div class="col-md-5 img-container" >
                  <img src="https://m.media-amazon.com/images/I/61tV07vXkIL.jpg" class="card-img-left" alt="Image 1">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <button class="btn rounded-pill btn-sm" style="background-color: lightgray;">Furniture</button>
                    <a id="heart" href="">
                      <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                    </a>
                    <h5  id="card-trending"  class="card-title pt-3">Wooden Chair</h5>
                    <p class="card-text">Don St. Brooklyn, New York</p>
                    <div class="rating">
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star"></i>&nbsp;
                      <p class="card-text" style="display: inline;">(3 Reviews)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card shadow">
              <div class="row no-gutters">
                <div class="col-md-5 img-container">
                  <img src="https://media.angi.com/s3fs-public/happy-family-house.jpg?impolicy=leadImage" class="card-img-left" alt="Image 1">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <button class="btn rounded-pill btn-sm" style="background-color: lightgray;">Real Estate</button>
                    <a id="heart" href="">
                      <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                    </a>
                    <h5 class="card-title pt-3" id="card-trending">Own New House</h5>
                    <p class="card-text">Don St. Brooklyn, New York</p>
                    <div class="rating">
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star"></i>&nbsp;
                      <p class="card-text" style="display: inline;">(3 Reviews)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-lg-6 mb-4">
            <div class="card shadow" >
              <div class="row no-gutters" >
                <div class="col-md-5 img-container" >
                  <img src="https://photos5.appleinsider.com/gallery/41117-79579-210401-iPhone12ProMax-xl.jpg" class="card-img-left" alt="Image 1">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <button class="btn rounded-pill btn-sm" style="background-color: lightgray;">Electronics</button>
                    <a id="heart" href="">
                      <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                    </a>
                    <h5  id="card-trending"  class="card-title pt-3">iPhone X Gray</h5>
                    <p class="card-text">Don St. Brooklyn, New York</p>
                    <div class="rating">
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star"></i>&nbsp;
                      <p class="card-text" style="display: inline;">(3 Reviews)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card shadow">
              <div class="row no-gutters">
                <div class="col-md-5 img-container">
                  <img src="https://m.media-amazon.com/images/I/61tV07vXkIL.jpg" class="card-img-left" alt="Image 1">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <button class="btn rounded-pill btn-sm" style="background-color: lightgray;">Furniture</button>
                    <a id="heart" href="">
                      <span id="heart-in" class="float-right text-primary">
                        <i class="fas fa-heart"></i>
                      </span>
                    </a>
                    <h5 class="card-title pt-3" id="card-trending">Wooden Chair & Table</h5>
                    <p class="card-text">Don St. Brooklyn, New York</p>
                    <div class="rating">
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star" style="color: gold;"></i>
                      <i class="fas fa-star"></i>&nbsp;
                      <p class="card-text" style="display: inline;">(3 Reviews)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- Testimonials -->

<div class="container-fluid">
  <div class="container pt-5 mt-5">
    <h1 class="text-center text-primary">Testimonials</h1>
    <hr class="blue-line "><br><br><br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <!-- Add more slide indicators as needed -->
        </ol>
      
        <!-- Slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80" alt="Avatar 2" class="d-block mx-auto rounded-circle" id="img-carosel">
            <br><p class="text-center">Robert Spears</p>
            <div class="container">
              <blockquote class="text-center">
                 <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”</p>
              </blockquote>
            </div>
          </div>
          <div class="carousel-item ">
            <img src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80" alt="Avatar 2" class="d-block mx-auto rounded-circle" id="img-carosel">
            <br><p class="text-center">Eddard Stark</p>
            <div class="container">
              <blockquote class="text-center">
                 <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”</p>
              </blockquote>
           </div>
          </div>
          <div class="carousel-item ">
            <img src="https://images.unsplash.com/photo-1669993427100-221137cc7513?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80" alt="Avatar 2" class="d-block mx-auto rounded-circle" id="img-carosel">
            <br><p class="text-center">Celina Doyle</p>
            <div class="container">
              <blockquote class="text-center">
                 <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”</p>
              </blockquote>
           </div>
          </div>
        </div>
      
        <!-- Navigation buttons -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <button class="btn btn-secondary btn-lg" style="border: 0px; border-radius: 2rem; ;" > <i class="fa fa-angle-left" style="font-size:20px;color:white"></i></button>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <button class="btn btn-secondary btn-lg" style="border: 0px; border-radius: 2rem; ;" > <i class="fa fa-angle-right" style="font-size:20px;color:white"></i></button>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
</div>

<!-- Our Blogs -->

<div class="container-fluid bg-light pt-5 mt-5" id="blog">
  <div class="container">
    <h2 class="text-primary text-center">Our Blog</h2>
    <h5 class="text-center " style="font-size: medium; font-weight:300 ;">See Our Daily News & Updates</h5>
    <hr class="blue-line">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card bg-light">
            <img src="https://static.toiimg.com/thumb/msid-79543116,width-1280,height-720,resizemode-4/.jpg" class="card-img-top" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title">Many People Sell Online</h5>
              <p class=" card-text" style="font-size: 0.8rem; color: gray;">By Mark Spencer &bull; Jan 18,2019 &bull; <span class="text-primary">News</span></p>
              <p class="card-text"  style="font-size: 0.85rem; color: rgb(69, 66, 66);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tellus vel tortor laoreet hendrerit. Morbi consequat mauris sed lacus tincidunt, id tempus nulla fringilla. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light">
            <img src="https://media.angi.com/s3fs-public/happy-family-house.jpg?impolicy=leadImage" class="card-img-top" alt="Image 2">
            <div class="card-body">
              <h5 class="card-title">Many People Sell Online</h5>
              <p class=" card-text" style="font-size: 0.8rem; color: gray;">By Mark Spencer &bull; Jan 18,2019 &bull; <span class="text-primary">News</span></p>
              <p class="card-text" style="font-size: 0.85rem; color: rgb(69, 66, 66);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tellus vel tortor laoreet hendrerit. Morbi consequat mauris sed lacus tincidunt, id tempus nulla fringilla. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-light">
            <img src="https://m.media-amazon.com/images/I/61tV07vXkIL.jpg" class="card-img-top" alt="Image 3">
            <div class="card-body">
              <h5 class="card-title">Many People Sell Online</h5>
              <p class=" card-text" style="font-size: 0.8rem; color: gray;">By Mark Spencer &bull; Jan 18,2019 &bull; <span class="text-primary">News</span></p>
              <p class="card-text" style="font-size: 0.85rem; color: rgb(69, 66, 66);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tellus vel tortor laoreet hendrerit. Morbi consequat mauris sed lacus tincidunt, id tempus nulla fringilla. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center pt-5 pb-5">
          <button class="btn btn-primary ">View All Posts</button>
      </div>
    </div>
  </div>
</div>

<!-- newsletter -->
<div class="container-fluid bg-primary" id="contact">
  <div class="container pt-5 pb-4">
    <div class="row ">
      <div class="col-lg-6 col-sm-12 text-white">
        <h5 style="font-weight:400 ;">Newsletter</h5>
        <p style="font-weight:100 ;">Lorem Ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="input-group mb-3 pt-2" >
          <input id="subscribe-input" style="border-radius: 0; " type="email" class="form-control bg-primary" placeholder="Email" aria-label="Email" aria-describedby="subscribe-button">
          <button class="btn btn-white bg-white"  type="button" id="subscribe-button" style="border-radius: 0;" >Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>




