<!-- Footer  -->
<div class="container-fluid bg-dark ">
    <div class="container pt-5">
      <div class="container pt-5">
        <div class="row" style="padding-bottom: 5rem;">
          <div class="col-md-4 ">
            <h5 class="text-white">About</h5><br>
            <p style=" font-weight: 300;" id="font-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident rerum unde possimus molestias dolorem fuga, illo quis fugiat!</p>
          </div>
          <div class="col-md-2 ">
            <h5 class="text-white">Navigation</h5><br>
            <div id="footer-nav">
              <a href="#">About us</a><br>
              <a href="#">Services</a><br>
              <a href="#">Testimonials</a><br>
              <a href="#">Contact us</a><br>
            </div>
          </div>
          <div class="col-md-3 ">
            <h5 class="text-white">Follow us</h5><br>
            <ul class="list-inline" id="font-color">
              <li class="list-inline-item"><i class="fab fa-facebook"></i></li>
              <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
              <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
              <li class="list-inline-item"><i class="fab fa-linkedin"></i></li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <input style="border-radius: 0; background-color: transparent;border-color:#c3c0c0;" type="text" class="form-control" placeholder="Search Products...">
              <div class="input-group-append">
                <button class="btn btn-primary text-white" type="button" style="border-radius: 0;">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-5 pt-5" style="border-top: 1px solid #c3c0c0; ">
  
      <div class="text-center ">
        <p style=" padding-bottom:10rem; margin-bottom: 0;"  id="font-color">Copyright ©2023 All rights reserved | This template is made with <i class="fas fa-heart"></i> by Colorlib</p>
      </div>
    </div>
  </div>